<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('../_includes/_common.ejs') %> 

        <title>Tenkue Hotel</title>

        <!-- OGP -->
        <%#- include('./_includes/_ogpCommon.ejs') %>
        <%#- include('./_includes/_ogpTwitter.ejs') %>
        <%#- include('./_includes/_ogpFacebook.ejs') %>

    </head>
</html>

    <body>
        <%- include('../_includes/_header') %>

        <main>
            <article class="p-login">
                <div class="p-login__inner l-content-wrap-default">
                    <!-- ここにHTMLを書いていく -->
                </div>
            </article>

        </main>

        <%- include('../_includes/_footer.ejs') %>

    </body>
</html>
