<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('../_includes/_common.ejs') %> 

        <title>Tenkue App</title>

    </head>
</html>

    <body>
        <%- include('../_includes/_header') %>

        <main>
            <article class="p-login">
                <div class="p-login__inner l-content-wrap-default">
                    <h2 class="p-login__title">ログイン</h2>
                    <form action="" class="p-login__form">
                        <div class="p-login__inputWrap">
                            <label for="email" class="p-login__label">Email</label>
                            <input type="text" id="email" class="p-login__input">
                        </div>
                        <div class="p-login__inputWrap">
                            <label for="pass" class="p-login__label">Password</label>
                            <input type="text" id="pass" class="p-login__input">
                        </div>
                        <div class="p-login__inputWrap">
                            <input type="checkbox" name="memory"><span class="p-login__checkbox">記憶する</span>
                        </div>
                        <button type="submit" class="p-login__btn">登録</button>
                        <p class="p-login__note">
                            Tenkue App に登録することにより<a href="#">利用規約</a> に同意したものとみなされます。
                            <a href="#">プライバシーポリシー</a>を見る。
                        </p>
                    </form>
                </div>
            </article>

        </main>

        <%- include('../_includes/_footer.ejs') %>

    </body>
</html>
