.p-home {
    max-width: 1000px;
    margin: 0 auto;

    // ここにCSSを書いていく
    h2 {
        text-align: center;
        margin-top: 70px;
    }

    .btn {
        width: 100%;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 8px 0;
        border: 1px solid #333;
        margin-bottom: 30px;
        display: block;
        position: relative;
    }

    .btn-new {
        color: white;
        background-color: #00478B;
    }

    .sea-image {
        // width: 460px;
        // height: 460px;
    }

    .email-image,
    .login-image {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 40%;
        left: 10px;
        margin-top: -0.5em;

    }

    .left-index,
    .right-index {
        text-align: center;
        flex: 1;
        margin: 50px;
    }



    @media screen and (min-width: 768px) {
        .parent {
            width: 100%;
            display: flex;
            margin-top: 150px;
            margin-bottom: 150px;
            // justify-content: center;
            justify-content: space-around;
        }


    }

    @media screen and (max-width: 767px) {
        .parent {
            width: 100%;
            margin-top: 150px;
        }



    }
}