.p-login {
    color: $color-light;
    background-image: url(/asset/image/img_login_bg.jpg);
    background-size: cover;
    background-position: center center;

    .p-login__inner {
        padding: 100px;

        .p-login__forms {
            background: rgba(2,2,2,0.7);
            margin: 0 auto;
            width: 360px;
            padding: 28px;

            .p-login__title {
                text-align: center;
                margin: 10px auto;
                font-size: 28px;
                font-weight: bold;
            }

            .p-login__form-set {
                margin: 20px auto;
                
               .p-login__label {
                    font-size: 14px; 
               } 

               .p-login__input {
                    width: 100%;
                    height: 32px;
                    border: none;
                    border-radius: 4px;
               }
            }

            .p-login__checkbox-set {
                margin: 10px auto;

               .p-login__label {
                    font-size: 12px; 
               } 
            }

            .p-login__submit {
                width: 100%;
                background-color: $color-orange;
                color: $color-light;
                height: 32px;
                border: none;
                border-radius: 6px;
                cursor: pointer;
            }

            .p-login__privacy-policy {
                margin-top: 20px;
                margin-bottom: 10px;
                font-size: 12px;

                a {
                    font-size: 12px;
                    color: $color-light;
                
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// レスポンシブ: SmartPhone用
@media (max-width: 767px) {
    .p-login {

        .p-login__inner {
            padding: 60px;

            .p-login__forms {
                width: 94%;
                max-width: 320px;
                padding: 30px 4%;
            }
        }
    }
}
