.p-signup {
    padding: 200px 0 150px;
    background-image: url(/asset/image/mv.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include sp-layout() {
        padding: 150px 10px 75px;
    }

    &__inner {
        max-width: 350px;
        padding-top: 3em;
        padding-bottom: 3em;
        background-color: rgba($color-default, 0.8);

        @include tab-layout() {
            max-width: 350px;
        }
    }

    &__title {
        margin-bottom: 1em;
        color: $color-light;
    }

    &__inputWrap {
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 50px;
        }
    }

    &__label {
        width: 100%;
        color: $color-light;
    }

    &__input {
        width: 100%;
        padding: 0.6em;
        border: none;
        border-radius: 0.2em;
        @include font-size(16);
    }

    &__btn {
        width: 100%;
        margin-bottom: 20px;
        padding: 0.5em 4em;
        color: $color-light;
        background-color: rgba($color-orange, 1);
        border: 1px solid #222;
        border-radius: 0.5em;
        appearance: none;
        display: block;
        cursor: pointer;
        @include font-size(16);
    }

    &__note,
    &__note a {
        color: $color-light;
        @include font-size(14);
    }
}
