<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('./_includes/_common.ejs') %> 

        <title>Tenkue App</title>

    </head>
</html>

    <body>
        <%- include('./_includes/_header') %>

        <main>
            <%- include('./_pages/_mainVisual') %>

        </main>

        <%- include('./_includes/_footer.ejs') %>

    </body>
</html>
