<article class="p-about">
    <div class="p-about__inner l-content-wrap-default">
        <h2 class="c-title">about</h2>
        <div class="p-about__imageWrap">
            <img src="/asset/image/icon_01.png" alt="" class="p-about__image" />
            <img src="/asset/image/icon_02.png" alt="" class="p-about__image" />
            <img src="/asset/image/icon_03.png" alt="" class="p-about__image" />
        </div>
        <p class="p-about__text">
            Tenkue Appはトラベラーのためのアプリです。
        </p>
        <p class="p-about__text">
            国内トラベルだけではなく、外国トラベル、国内外の家族旅行者など、<br />
            多くのお客様の観光拠点と旅行者をつなぐサービスを提供致します。
        </p>
        <p class="p-about__text">
            宿泊期間やご人数に関わらずご利用頂け、タイトなスケジュールになりがちなご予定を出来る限りサポートできるよう、<br />
            チェックインやチェックアウトのお時間も相談することができます。
        </p>
        <p class="p-about__text">
            さらに、長期滞在でもお楽しみ頂けるよう、様々なアクティビティーの実施も予定しております。
        </p>
    </div>
</article>
