<article class="p-mv">
    <div class="p-mv__inner l-content-wrap-default">
        <h2 class="p-mv__title">トラベラーのためのNo.1アプリ</h2>
        <div class="l-col2">
            <div class="l-col2__list">
                <div class="l-col2__item">
                    <img src="/asset/image/top.jpg" alt="" />
                </div>
            </div>
            <div class="l-col2__list">
                <div class="l-col2__item">
                    <div class="p-mv__btnWrap">
                        <a href="/signup/" class="p-mv__btn">新規登録</a>
                        <a href="/login/" class="p-mv__btn p-mv__btn--secondary">ログイン</a>
                    </div>
                    <p class="p-mv__note">
                        Tenkue App に登録することにより<a href="#">利用規約</a> に同意したものとみなされます。
                        <a href="#">プライバシーポリシー</a>を見る。
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
