<article class="p-room">
    <div class="p-room__inner l-content-wrap-default">
        <h2 class="c-title">service</h2>
        <div class="p-room__container">
            <div class="p-room__item">
                <p class="p-room__num">01</p>
                <h3 class="p-room__subtitle">全ては検索から始まる</h3>
                <p class="p-room__text">
                    Tenkue Appは世界最高水準のリゾートホテルとパートナーシップを結んでいます。あなたが望むリゾートはTenkue
                    Appに登録するだけでアクセスすることができます。これが私たちの最も得意としていることです。
                </p>
                <!-- <a href="" class="p-room__link">more</a> -->
            </div>
            <div class="p-room__item">
                <img src="/asset/image/room_01.jpg" alt="" />
            </div>
        </div>
        <div class="p-room__container p-room__container-rev">
            <div class="p-room__item">
                <p class="p-room__num">02</p>
                <h3 class="p-room__subtitle">優先的な予約システム</h3>
                <p class="p-room__text">
                    世界中のどこよりも予約しやすいのでTenkue
                    Appの特徴です。リゾートホテルと数多くパートナーシップを結んでいるからこそ、優先的に予約をすることが可能です。
                </p>
                <!-- <a href="" class="p-room__link">more</a> -->
            </div>
            <div class="p-room__item">
                <img src="/asset/image/room_02.jpg" alt="" />
            </div>
        </div>
        <div class="p-room__container">
            <div class="p-room__item">
                <p class="p-room__num">03</p>
                <h3 class="p-room__subtitle">充実したアクティビティ</h3>
                <p class="p-room__text">
                    Tenkue
                    Appではカタログには載っていないあなただけのアクティビティを提供することができます。あなただけのオリジナリティ溢れるアクティビティを体験しましょう。
                </p>
                <!-- <a href="" class="p-room__link">more</a> -->
            </div>
            <div class="p-room__item">
                <img src="/asset/image/room_03.jpg" alt="" />
            </div>
        </div>
    </div>
</article>
