<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('../_includes/_common.ejs') %> 

        <title>Tenkue Hotel</title>

        <!-- OGP -->
        <%#- include('./_includes/_ogpCommon.ejs') %>
        <%#- include('./_includes/_ogpTwitter.ejs') %>
        <%#- include('./_includes/_ogpFacebook.ejs') %>

        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
</html>

    <body>
        <%- include('../_includes/_header') %>

        <main>

            <article class="p-signup">
                <div class="p-signup__inner l-content-wrap-default">
                    <!-- ここにHTMLを書いていく -->
                    <div class="p-signup__forms">
                        <div class="p-signup__title">今すぐTenkue Appに無料で参加しよう</div>
                        <form action="#" method="post">
                            <div class="p-signup__form-set">
                                <label for="email" class="p-signup__label">Email</label><br>
                                <input type="text" id="email" class="p-signup__input">
                            </div>
                            <div class="p-signup__form-set">
                                <label for="password" class="p-signup__label">Password</label><br>
                                <input type="text" id="password" class="p-signup__input">
                            </div>
                            <input type="submit" value="登録" class="p-signup__submit">
                            <div class="p-signup__privacy-policy">
                                <span> Tenkue App に登録することにより<a href="#">利用規約</a>に同意したものとみなされます。<a href="#">プライバシーポリシー</a>を見る。</span>
                            </div>
                        </form>
                    </div>
                </div>
            </article>

        </main>

        <%- include('../_includes/_footer.ejs') %>

    </body>
</html>
