<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('../_includes/_common.ejs') %> 

        <title>Tenkue App</title>

    </head>
</html>

    <body>
        <%- include('../_includes/_header') %>

        <main>

            <article class="p-signup">
                <div class="p-signup__inner l-content-wrap-default">
                    <h2 class="p-signup__title">今すぐTenkue Appに無料で参加しよう。</h2>
                    <form action="" class="p-signup__form">
                        <div class="p-signup__inputWrap">
                            <label for="email" class="p-signup__label">Email</label>
                            <input type="text" id="email" class="p-signup__input">
                        </div>
                        <div class="p-signup__inputWrap">
                            <label for="pass" class="p-signup__label">Password</label>
                            <input type="text" id="pass" class="p-signup__input">
                        </div>
                        <button type="submit" class="p-signup__btn">登録</button>
                        <p class="p-signup__note">
                            Tenkue App に登録することにより<a href="#">利用規約</a> に同意したものとみなされます。
                            <a href="#">プライバシーポリシー</a>を見る。
                        </p>
                    </form>
                </div>
            </article>

        </main>

        <%- include('../_includes/_footer.ejs') %>

    </body>
</html>
